/* .workoutButtons {

} */

.wholeBodyWorkoutButton {
  background-color: #4caf50;
}

.armWorkoutButton {
  background-color: #4caf50;
}

.absWorkoutButton {
  background-color: #4caf50;
}

.legsWorkoutButton {
  background-color: #4caf50;
}

.wholeBodyStretchButton {
  background-color: #4caf50;
}
